<section class="form-container">
  <h4>Create a Story</h4>
  <form action="/story" method="post" class="story-form">
    <p class="input-field">
      <textarea name="title" cols="10" rows="5" placeholder="Title"></textarea>
    </p>
    <p class="input-field">
      <textarea name="story[content]" cols="30" rows="10" placeholder="Tell Your Story"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Story" class="btn waves-effect waves-light">
    </p>
  </form>
</section>