{{!-- list all the stories in the db  --}}

{{#each stories}}
        <div>
            {{!-- <h1></h1> --}}
            <h1><a href="/story/{{_id}}">{{ title }}</a></a></h1>
        </div>
        <div>
            <p> {{ createdAt }} </p>
        </div>
        <div>
            <p> {{ content }} </p>
        </div>
{{/each}}

