<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {{!-- <link rel="stylesheet" type="text/css" href="../public/css/styles.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css"> --}}

</head>
<body>

     <header class="site-header">
      <nav>
        <div class="nav-wrapper indigo darken-3">
          <a href="" class="brand-logo left">Connect</a>
          <ul class="right">
          {{!-- {{{#if currentUser}} --}}
            <li><a href="/">Home</a></li>            
            <li><a href="#">Events</a></li>
            <li><a href="/story">Stories</a></li>
            <li><a href="/story/new">Create Story</a></li>
          {{!-- {{else}} --}}
            {{!-- <li><a href="/user/sign-up">Sign Up</a></li> --}}
          {{!-- {{/if}} --}}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
    <footer class="page-footer indigo darken-3" style="position:fixed;bottom:0;left:0;width:100%;" >
          
          <div class="footer-copyright black" >
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
</body> 
</html> 

 