
  <div class="col s12 m7">
    <h2 class="header" style="text-align:center ">Sign Up</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/500/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="../user/sign-up">Click this link to sign up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7">
    <h2 class="header" style="text-align:center ">Login</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/500/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="../user/login">Click this link to login</a>
        </div>
      </div>
    </div>
  </div>